@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
.home{
    color :black;
    text-align: center;
    font-family: 'Poppins';
    font-size: 70px;
}

.topnav{
    /* background-color: darkblue; */
    overflow: hidden;
}
.topnav a{
    float: left;
    color : black;
    text-align:center;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: consolas;
    position: relative;
}
.topnav a:hover {
    border : 10px black;
    color: black;
    background-color: yellow;
  }
  
.topnav a.active {
    background-color: #04AA6D;
    color: yellow;
  }

  .formGroup{
    display: flex;
    justify-content: center;
    border: 10px;
  }
  .formGroup input{
    border: none;
    width: 20%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  ::placeholder{
    color: white;
  }
  
   
  /* Login form code */
  .login{
    margin-top: 40px;
    border: 10px;
  }

  .btn2{
    /* padding: 10px; */
    padding-top: 10px;
    padding: 10px;
    padding-right: 0px;
    padding-left: 0px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    border-style: none;
    color: black;
    font-weight: 600;
    font-size: large;
  }
  .btn2:hover{
    background-color: black;
    color: white;
  }
  .btn button:hover{
    border-bottom: 2px solid rgb(91, 243, 131);
  }

  .segment{
    background-image: url(home2.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Poppins';
    text-align: center;
    width: 300px;
    height: 200px;
    color: white;
    position: relative;
    left :600px;
  }